<form class="edit-form" {{on "submit" this.saveBook}}>
    <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label">Название:</label>
        <div class="col-sm-10">
            <input
              type="text"
              class="form-control form-control-lg"
              id="inputTitle"
              placeholder="Полное название книги"
              value={{this.name}}
              oninput={{action (mut this._name) value="target.value"}} />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputAuthor" class="col-sm-2 col-form-label">Автор:</label>
        <div class="col-sm-10">
            <input
              type="text"
              class="form-control form-control-lg"
              id="inputAuthor"
              placeholder="Фамилия И.О. автора"
              value={{this.author}}
              oninput={{action (mut this._author) value="target.value"}} />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPagesCount" class="col-sm-2 col-form-label">Объем:</label>
        <div class="col-sm-10">
            <input
              type="number"
              class="form-control form-control-lg"
              id="inputPagesCount"
              placeholder="Количество страниц книги"
              value={{this.number}}
              oninput={{action (mut this._number) value="target.value"}} />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDescriptionURL" class="col-sm-2 col-form-label">Описание:</label>
        <div class="col-sm-10">
            <input
              type="url"
              class="form-control form-control-lg"
              id="inputDescriptionURL"
              placeholder="Ссылка на сайт с описанием книги"
              value={{this.description}}
              oninput={{action (mut this._description) value="target.value"}} />
        </div>
    </div>
    <div class="form-group row">
        <label for="customFile" class="col-sm-2 col-form-label">Обложка:</label>
        <div class="input-group input-group-lg col-sm-10">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" lang="ru">
                <label
                  class="custom-file-label form-control-lg placeholder-color"
                  for="customFile"
                  data-browse="Выбрать">Выберите файл</label>
            </div>
            <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary custom-file-clear"
                  type="button"
                  disabled="disabled">X</button>
            </div>
        </div>
    </div>
    {{!-- <div class="form-group row">
        <label for="inputTags" class="col-sm-2 col-form-label">Теги:</label>
        <div class="col-sm-10">
            <!-- <input @type="text" class="form-control" id="inputPatronymic" placeholder="#Теги через запятую"> -->
            <InputTags @tags={{@tags}} @onChange={{this.changeTags}} />
        </div>
    </div> --}}
    <div class="form-group row">
        <div class="col-6">
            <button type="submit" class="btn btn-outline-primary btn-lg">Сохранить</button>
        </div>
        <div class="col-6 text-right">
            <LinkTo @route="book" class="btn btn-outline-secondary btn-lg">Отмена</LinkTo>
        </div>
    </div>
</form>