<div class="container h-100">
    <div class="htop">
        <div class="d-flex position-relative justify-content-center">
            <LinkTo @route="create-book" class="btn btn-outline-success my-2 d-flex position-absolute add-btn">Добавить</LinkTo>
            <h2 class="text-center">Книги</h2>
        </div>
        <div class="form-row navbar-panel justify-content-between">
            <div class="col-md-auto align-self-start">
                <form class="form-inline">
                    {{!-- <input class="form-control mr-2 search-long" type="search" placeholder="Найти по полям" aria-label="Найти по полям"> --}}
                    {{input type="text" class="form-control mr-2 search-long" placeholder="Найти по полям" aria-label="Найти по полям" value=search}}
                    {{!-- <button class="btn btn-outline-primary my-2" type="submit">Найти</button> --}}
                </form>
            </div>
            <div class="col-md-auto">
                <form class="form-inline">
                     <Input @class="form-control mr-2" @type="search" @aria-label="Найти по тегам" @placeholder="Поиск по тегам" @value={{searchByTag}} />
                    {{!-- <button class="btn btn-outline-primary my-2" type="submit">Поиск</button> --}}
                </form>
            </div>
        </div>
        {{#if this.isLoading}}
        <div class="loading">
            <img class="loading-img" src="spiner-cat.gif" alt="loading gif">
        </div>
        {{else}}
        <div class="row row-cols-1 row-cols-md-3 fix-margin">
            {{#each this.model as |book|}}
              <BookItem
                @cover={{book.cover}}
                @name={{book.name}}
                @author={{book.author}}
                @number={{book.number}}
                @tags={{book.tags}}
                @rate={{book.rate}}
                @description={{book.description}}
                @id={{book.id}}
                @onClick={{this.deleteBook}}
              />
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
{{outlet}}