<div class="container h-100">
    <div class="htop">
        <h2 class="text-center">Добавить спикера</h2>
        <SpeakerForm
          @onSubmit={{this.saveSpeaker}}
          @firstName={{this.model.firstName}}
          @lastName={{this.model.lastName}}
          @patronymic={{this.model.patronymic}}
        />
    </div>
</div>

{{outlet}}