<div class="container h-100">
    <div class="htop">
        <h2 class="text-center">Добавить книгу</h2>
        <BookForm
          @onSubmit={{this.saveBook}}
          @name={{this.model.name}}
          @author={{this.model.author}}
          @number={{this.model.number}}
          @description={{this.model.description}}
          {{!-- @tags={{this.tags}} --}}
          {{!-- @onChange={{this.changeTags}} --}}
        />
    </div>
</div>

{{outlet}}