<div class="container h-100">
    <div class="htop">
        <h2 class="text-center">Редактирование спикера: {{this.model.firstName}} {{this.model.lastName}} {{this.model.patronymic}}</h2>
        {{!-- <SpeakerForm
            @firstName={{this.model.firstName}}
            @lastName={{this.model.lastName}}
            @patronymic={{this.model.patronymic}}
            @onSubmit={{this.changeSpeaker}}
        /> --}}
    </div>
</div>