<div class="container h-100">
    <div class="htop">
        <div class="d-flex position-relative justify-content-center">
            <LinkTo @route="create-speaker" class="btn btn-outline-success my-2 d-flex position-absolute add-btn">Добавить</LinkTo>
            <h2 class="text-center">Спикеры</h2>
        </div>
        <div class="form-row navbar-panel justify-content-end">
            <div class="col-4 text-right">
                {{!-- <input class="form-control" type="search" placeholder="ФИО" aria-label="Спикер"> --}}
                {{input type="search" class="form-control" placeholder="ФИО" aria-label="Спикер" value=search}}
            </div>
            <div class="col-mb-auto text-right">
                <button class="btn btn-outline-primary" type="submit">Найти</button>
            </div>
        </div>
        {{#if this.isLoading}}
        <div class="loading">
            <img class="loading-img" src="clipart-cat-animated-gif-8.gif" alt="loading gif">
        </div>
        {{else}}
        <div class="row row-cols-1 row-cols-md-3">
            {{#each this.model as |speaker|}}
            <SpeakerItem
                @firstName={{speaker.firstName}}
                @lastName={{speaker.lastName}}
                @patronymic={{speaker.patronymic}}
                @photo={{speaker.photo}}
                @id={{speaker.id}}
                @onSubmit={{this.deleteSpeaker}}
            />
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>

{{outlet}}